*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    background: #e7ccd2;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2%;
}
nav
{
    z-index: 1030;
    box-shadow: 0px 5px 5px  #9e9e9e;
    background: black;
}
#logo-image
{
    height: 4%;
    width: 4%;
}
#content
{
    margin-top: 6%;
}
#page-title
{
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 4%;
}
.card
{
    background: transparent;
    box-shadow: 9px 9px 16px #e8a8b8, -9px -9px 16px    rgba(255,255,255, 0.5);
}
@media only screen and (max-width:576px)
{
    #logo-image
    {
        display: none;
    }
    #content
    {
        margin-top: 15%;
    }
    #page-title
    {
        margin-bottom: 2%;
    }
}