@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background: #EDE7F6;
    font-family: 'Roboto Mono', monospace;
    color: #9575cd;
    padding-bottom: 2%;
}
nav
{
    z-index: 1030;
    box-shadow: 0px 5px 5px  #9e9e9e;
    background: black;
}
#logo-image
{
    height: 4%;
    width: 4%;
}
.img-fluid
{
    margin-left: 25%;
    min-height: 50%;
    min-width: 50%;
}

#title
{
    
    margin-top: 10%;
    margin-left: 5%;
    height: 500px;
    width: 1000px;
    border-radius: 25px;
    box-shadow: 9px 9px 16px #d1c4e9 inset, -9px -9px 16px #fafafa inset;   
}
#donate
{
    margin-top: 2%;
    font-family: 'Signika', sans-serif;
    font-size: 100px;
    text-align: center;
}
#form-card
{
    box-shadow: 9px 9px 16px #d1c4e9, -9px -9px 16px    rgba(255,255,255, 0.5);
    margin-top: 2%;
    padding: 2% 2% 1% 2%;
    align-self: center;
    margin-left: 35%;
    border-radius: 15px;
}
#form-submit
{
    color: white;
    background: #9777d5;
}
@media only screen and (max-width: 576px)
{
    #logo-image
{
    height: 4%;
    width: 4%;
    display: none;
}
    .img-fluid
    {
        margin-left: 25%;
        min-height: 50%;
        min-width: 50%;
    }
    #title
    {
        padding: 2% 0% 2% 0%;
        margin-top: 25%;
        height: 100%;
        margin-left: 0%;
        width: 100%;
        border-radius: 25px;
        box-shadow: 9px 9px 16px #d1c4e9 inset, -9px -9px 16px #fafafa inset;   
    }
    #form-card
    {
        box-shadow: 9px 9px 16px #d1c4e9, -9px -9px 16px    rgba(255,255,255, 0.5);
        margin-top: 2%;
        padding: 2% 2% 1% 2%;
        align-self: center;
        margin-left: 0%;
        border-radius: 15px;
    }
}