*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    padding:0;
    background: #fafafa ;
    font-family: 'Roboto Mono', monospace;
}

nav
{
    z-index: 1030;
    box-shadow: 0px 5px 5px  #9e9e9e;
    background: black;
}
#logo-image
{
    height: 4%;
    width: 4%;
}
#dashboard
{
    align-content: center;
    padding-left: 0%;
    padding-top: 2%;
}
.image-slide
{
    max-height: 450px;
}
#slide-image
{
    position: absolute;
    top: 25%;
    left: 10%;
    min-height: 200px;
}
#st
{
    text-align: center;
    position: absolute;
    color: white;
    top: 25%;
    left: 30%;
    font-size: 200px;
    background-image: linear-gradient(45deg,#ec0d78,#5139d7);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'sanskritnormal',Fallback,'Roboto Mono', monospace;

}
#content-1
{
    margin-top: 2%;
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom:4%;

}
#card1
{
    box-shadow: 9px 9px 16px #e0e0e0, -9px -9px 16px #e0e0e0;
    border-radius: 25px ;
    background-color: #ffffff;
    height: fit-content;
}

#card2
{
    box-shadow: 9px 9px 16px #e0e0e0, -9px -9px 16px #e0e0e0;
    border-radius: 25px ;
    background-color: #ffffff;
    height: fit-content;
}
#card3
{
    box-shadow: 9px 9px 16px #e0e0e0, -9px -9px 16px #e0e0e0;
    border-radius: 25px ;
    background-color: #ffffff;
    height: fit-content;
    margin-top: 2%;
}
#card4
{
    box-shadow: 9px 9px 16px #e0e0e0, -9px -9px 16px #e0e0e0;
    border-radius: 25px ;
    background-color: #ffffff;
    height: fit-content;
    margin-top: 2%;
}
.svg-image
{
    padding-left:30%;
    height: 10%;
    width: 10%;
}
@media only screen and (max-width:576px)
{
    #logo-image
    {
        display: none;
    }
    #carouselExampleCaptions
    {
        margin-top: 12%;
    }
    #dashboard
    {
        align-content: center;
        padding-left: 0%;
        padding-top: 2%;
    }
    #slide-image
    {
        position: absolute;
        top: 43%;
        left: 18%;
        min-height: 30px ;
    }
     #st
    {
        text-align: center;
        position: absolute;
        color: white;
        top: 33%;
        left: 33%;
        font-size: 50px;
        background-image: linear-gradient(45deg,#ec0d78,#5139d7);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-family: 'sanskritnormal',Fallback,'Roboto Mono', monospace;

    }
    #content-1
    {
        margin-top: 20%;
        font-family: 'Work Sans', sans-serif;
        background-repeat: no-repeat;
        background-position: center;
    }    
    #card1
    {
        box-shadow: 0px 4px 6px 6px #e0e0e0;
        border-radius: 10px ;
        background-color: #ffffff;
        margin-bottom: 4%;
    }
    #card2
    {
        box-shadow: 0px 4px 6px 6px #e0e0e0;
        border-radius: 10px ;
        background-color: #ffffff;
        overflow-y: auto;
        margin-bottom: 4%;
    }
    #card3
    {
        box-shadow: 0px 4px 6px 6px #e0e0e0;
        border-radius: 10px ;
        background-color: #ffffff;
        margin-bottom: 4%;
    }
    #card4
    {
        box-shadow: 0px 4px 6px 6px #e0e0e0;
        border-radius: 10px ;
        background-color: #ffffff;
        overflow-y: auto;
        margin-bottom: 4%;
    }
}