
/* for  button colours */
/* background: #1B5E20; */
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 2%;
    background: #C8E6C9;
}
nav
{
    z-index: 1030;
    box-shadow: 0px 5px 5px  #9e9e9e;
    background: black;
}
#logo-image
{
    height: 4%;
    width: 4%;
}
#content
{
    margin-top: 5%;
}

#header-text
{
    font-family: 'Signika', sans-serif;
    padding-left: 25%;
    font-size: 100px;
}
#form-image
{
    padding: 4% 4% 4% 4%;
    box-shadow: 9px 9px 16px #a5d6a7 inset, -9px -9px 16px rgba(255,255,255,0.5) inset;
    border-radius: 25px;
}
#form-card
{
    box-shadow: 9px 9px 16px #A5D6A7, -9px -9px 16px    rgba(255,255,255, 0.5);
    margin-top: 3%;
    padding: 2% 0% 2% 0%;
    border-radius: 25px;
}
#login-form
{
    padding: 3% 2% 2% 20%;
    box-shadow: 9px 9px 16px #a5d6a7 inset, -9px -9px 16px rgba(255,255,255,0.5) inset;
    border-radius: 25px;  
}
@media only screen and (max-width:576px)
{
    #logo-image
    {
        display: none;
    }
    #content
    {
        margin-top: 20%;
    }
    #header-text
    {
        padding-left: 30%;
        font-size: 50px;
    }
    #login-form
{
    padding: 3% 4% 2% 4%;
    box-shadow: 9px 9px 16px #a5d6a7 inset, -9px -9px 16px rgba(255,255,255,0.5) inset;
    border-radius: 25px;  
}
}