{% load static %}
<head>
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" as="style">
    <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap" as="style">
    <link rel="shortcut icon" href="{% static 'home/dist/img/favicon.ico'%}">
    <link rel="preload stylesheet" href="{% static 'home/stylesheets/font-face.css'%}" as="style">
    <link rel="stylesheet" href="{% static 'home/Depd/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/stylesheets/Signup.css'%}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-label="collapse button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="./index.html"><img src="{% static 'home/dist/img/kyan.png'%}" id="logo-image" alt="logo image" loading="lazy" >&nbsp;<span id="logo-text">Saksham</span></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More...
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">BLog</a>
                    <a class="dropdown-item" href="#">Gallery</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-warning" type="button" style="color: black;" href="#" id="nav-button">Join Us<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container" id="content">
        <div class="row">
          <div class="col-12" id="header-text">
            Create Account
          </div>
        </div>
        <div class="row" id="form-card">
          <div class="col-12 col-sm-4">
            <video id="form-image" class="img-fluid" autoplay loop>
              <source src="{% static 'home/dist/img/login.mp4'%}" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-sm-8">
            <form class="offset-sm-1" id="login-form" method="POST">{% csrf_token %}
                <!-- {{ name }}
                <br>
                {{ error }}
                <br>
                {% csrf_token %} -->
              <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">
                  User Name
                </label>
                <div class="col-sm-6">
                  <input type="text" id="username" class="form-control" placeholder="username" required="true" name="username">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">
                  Email
                </label>
                <div class="col-sm-6">
                  <input type="email" id="email" required="true" class="form-control" name="email" placeholder="abc@xyz.com">
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">
                  Password
                </label>
                <div class="col-sm-6">
                  <input type="password" id="password" required="true" class="form-control" name="password">
                </div>
              </div>
              <div class="form-group row">
                <label for="con_password" class="col-sm-2 col-form-label">
                  Confirm Password
                </label>
                <div class="col-sm-6">
                  <input type="password" id="con_password" required="true" class="form-control" name="re_type_password">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-2 offset-4 col-sm-5 col-6">
                  <button type="submit" role="button" class="btn btn-success">Sign Up</button>
                  <br>
                </div>
                <br>
                {{ error }}
                <br>
                <br>
                <a href="/" type="text">Back To Home</a>
                  <br>
                <a href="{% url 'login' %}" type="text">Already A Member ? Try Login</a>
                <br>
              </div>

            </form>
          </div>
        </div>
      </div>
      <script src="{% static 'home/Depd/jquery.slim.min.js'%}"> </script>
      <script src="{% static 'home/Depd/popper.min.js'%}"></script>
      <script src="{% static 'home/Depd/bootstrap.min.js'%}"></script>
      <script src="{% static 'home/scripts/signup.js'%}"></script>

</body>
</html>
